<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title><%= title %></title>
</head>
<body>
 <div>
  <a href="/">Home</a>
  <a href="/daily_task">Daily Task List</a>
  <a href="/emergency_contact">Emergency Contact List List</a>
  <a href="/food">Food List</a>
  <a href="/medical_condition">Medical Condition List</a>
  <a href="/nutrient_chart">Nutrient Chart List</a>
  <a href="/patient">Patient List</a>
  <a href="/prescribed_drug">Prescribed Drug List</a>
  <a href="/room">Room List</a>
  <a href="/suffers">Suffers List</a>
  <a href="/therapy">Therapy List</a>
  <a href="/users">Employee List</a>
  <a href="/vital">Vital List</a>
  
 </div>
 <h1><%= title %></h1>
